// Colors
$purple: #7a325d
$primary: $purple
$black: #202020

html,
body
  display: flex
  height: 100vh
  flex-direction: column
  font-family: 'Open Sans', sans-serif

main
  flex: 1 0 auto

.kanit
  font-family: 'Kanit', sans-serif

#mapid
  //height: 100vh
  height: 50vh
  //width: 100vw
  width: 80vh
  margin: auto
  
.logo
  margin-top: 10%
  font-family: 'Kanit', sans-serif
